@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

.card {
  font-family: 'Alef', sans-serif;
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 261px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 1px 10px hsla(0, 0%, 0%, 0.0196);
  align-items: center;

  &:hover {
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.07);
  }

  .photo {
    display: block;
    border-radius: 25px;
    width: 90%;
    height: 65%;
    // margin: auto;
    background-size: cover;
    margin-top: 10px;
  }

  .buttons {
    // position: absolute;

    display: flex;
    width: 85%;
    // height: 100%;
    // justify-self: center;
    direction: rtl;
    // margin-right: 60px;
    margin-top: -20px;

    button {
      border: none;
      display: flex;
      flex-direction: row;
      background-color: unset;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-left: -10px;
      background-repeat: no-repeat;
    }

    .edit {
      // padding-right: 20px;
      background-image: url("../assets/img/edit-icon.svg");
      z-index: 1;
    }

    .delete {
      background-image: url("../assets/img/delete-icon.svg");
      z-index: 1;
    }

  }

  h4,
  h5,
  .price {
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.6px;
    font-weight: 700;
  }

  h4 {
    color: #353646;
    width: 90%;
    display: flex;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 15.78;
    line-height: 20.15px;
  }

  h5 {
    opacity: 0.4;
    font-size: 14px;
  }

  .location {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 90%;

    .marker {
      // display: inline-flex;
      width: 15px;
      height: 85%;
      background-size: cover;
      background-image: url("../assets/img/location-icon.svg");
      margin-right: 5px;
    }

    .price {
      display: flex;
      color: #34a59f;
      justify-content: right;
      width: 80%;
      line-height: 17.88px;
      font-style: normal;
      font-size: 14px;
    }
  }
}